<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/logo.png" type="image/icon type" />
    <title>RESTO | Find The Most Popular Restaurants Near You</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <a href="#main" class="skip-link">Skip to Content</a>

    <header-component></header-component>

    <!-- <div id="root"></div> -->

    <div style="margin-top: 70px">
      <main id="main" class="main">
        <section class="detail">
          <div class="detail__head">
            <img
              class="detail__image"
              src="https://restaurant-api.dicoding.dev/images/large/14"
              alt="Melting Pot"
            />
            <div>
              <h2 class="detail__name">Melting Pot</h2>
              <address class="detail__address">
                Jln. Pandeglang no 19, Medan
              </address>
              <p class="detail__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
                tellus. Phasellus viverra nulla ut metus varius laoreet.
              </p>
              <p class="detail__foods">
                <b>Foods:</b> Paket rosemary, Toastie salmon, Bebek crepes,
                Salad lengkeng.
              </p>
              <p class="detail__drinks">
                <b>Drinks:</b> Es krim, Sirup, Jus apel, Jus jeruk, Coklat
                panas, Air, Es kopi, Jus alpukat, Jus mangga, Teh manis, Kopi
                espresso, Minuman soda, Jus tomat.
              </p>
            </div>
          </div>

          <div class="detail__review">
            <h3>Customer Reviews</h3>
            <ul class="detail__review-list">
              <li class="detail__review-item">
                <div class="detail__review-wrapper">
                  <div class="detail__review-name">Ahmad</div>
                  <p class="detail__review-text">
                    <q
                      >Tidak rekomendasi Tidak rekomendasi Tidak rekomendasi
                      untuk pelajar!</q
                    >
                  </p>
                  <time class="detail__review-time" datetime="2019-11-13"
                    >13/12/2019</time
                  >
                </div>
              </li>
            </ul>
          </div>

          <div class="detail__add-review">
            <h3>Add Review</h3>
            <form class="detail__review-form" action="">
              <label for="reviewer-name">Name</label>
              <input type="text" name="reviewer-name" id="reviewer-name" />
              <label for="review">Review</label>
              <textarea id="review" name="review" rows="2"></textarea>
              <button class="detail__submit-button" type="submit">
                Submit
              </button>
            </form>
          </div>
        </section>
      </main>
    </div>

    <footer-component></footer-component>
  </body>
</html>
