<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/logo.png" type="image/icon type" />
    <title>RESTO | Find The Most Popular Restaurants Near You</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <a href="#main" class="skip-link">Skip to Content</a>

    <header-component></header-component>

    <div id="root" style="min-height: 95vh">
      <!-- <hero-component></hero-component> -->

      <main id="main" class="main" style="padding: 0">
        <!-- <section class="restaurant">
          <h2>Explore Restaurants</h2>
          <ul class="restaurant__list"></ul>
        </section>
  
        <section class="food-facts">
          <div class="food-facts__wrapper">
            <button
              class="food-facts__shuffle-button"
              title="Shuffle Fact"
              aria-label="Shuffle Fact"
            >
              <i class="material-icons">change_circle</i>
            </button>
            <h2>Random Food Facts</h2>
            <p class="food-facts__fact"></p>
          </div>
        </section> -->
      </main>
    </div>

    <footer-component></footer-component>
  </body>
</html>
