.footer {
  background-color: $dark;
  color: $primary;
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    text-align: center;
  }
}
