.header {
  color: $dark;
  background-color: $light;
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 10px 5%;
    margin: 0 auto;
  }

  &__logo {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;

      img {
        height: 34px;
        width: 158px;
        padding: 0 3px;
      }
    }
  }

  &__nav {
    color: $dark;
    background-color: $primary;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 48px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    font-weight: 600;

    a {
      padding: 12px;

      &:hover {
        text-decoration: underline $primary;
        text-decoration-thickness: 3px;
      }
    }
  }

  .open-nav {
    visibility: visible;
    opacity: 1;
  }

  &__menu-button {
    background: none;
    border: none;
    cursor: pointer;

    #menu-icon,
    #close-icon {
      color: $dark;
      font-size: 36px;
      padding: 4px;
    }
  }
}

@media screen and (min-width: 640px) {
  .header {
    &__nav {
      background-color: $light;
      box-shadow: none;
      position: static;
      visibility: visible;
      opacity: 1;
      justify-content: flex-end;
      width: auto;

      & > a {
        margin-left: 32px;
        font-size: 1.1em;
      }
    }

    &__menu-button {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__inner {
      max-width: 1600px;
    }
  }
}
