@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #ffd438;
$dark: #292b2f;
$darker: #211f1f;
$grey: #464646;
$light: #fafafa;
$lighter: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
  width: 100%;
  body {
    color: $dark;
    background-color: $light;
    width: 100%;
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;

    p {
      font-family: 'Karla', sans-serif;
    }

    a,
    a:hover,
    a:visited,
    a:active {
      color: inherit;
      text-decoration: none;
    }

    a:focus-visible,
    button:focus-visible,
    input:focus-visible,
    textarea:focus-visible {
      border: 2px solid $primary;
      outline: 1px solid $dark;
    }

    .hidden {
      display: none;
    }

    .spin {
      transform: rotate(540deg);
    }

    #root {
      margin-top: 70px;
      min-height: calc(100vh - 118px);
    }
  }
}

.skip-button {
  position: absolute;
  top: -40px;
  left: 4px;
  background-color: $primary;
  color: $dark;
  padding: 8px;
  z-index: 6;
  font-weight: 600;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);

  &:focus {
    top: 4px;
  }
}

.header {
  color: $dark;
  background-color: $light;
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 10px 5%;
    margin: 0 auto;
  }

  &__logo {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;

      img {
        height: 34px;
        width: 158px;
        padding: 0 3px;
      }
    }
  }

  &__nav {
    color: $dark;
    background-color: $primary;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 48px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    font-weight: 600;

    a {
      padding: 12px;

      &:hover {
        text-decoration: underline $primary;
        text-decoration-thickness: 3px;
      }
    }
  }

  .open-nav {
    visibility: visible;
    opacity: 1;
  }

  &__menu-button {
    background: none;
    border: none;
    cursor: pointer;

    #menu-icon,
    #close-icon {
      color: $dark;
      font-size: 36px;
      padding: 4px;
    }
  }
}

.hero-section {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  picture {
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(30%);
  }

  &__caption {
    position: absolute;
    color: $light;
    font-weight: 500;
    font-size: 7vmin;
    line-height: 125%;
    margin: 0 20px;
  }
}

.main {
  padding: 3vh 5% 3vh 5%;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .action-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back {
      display: inline-block;

      &__wrapper {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 12px 0 14px 0;
      }

      i {
        font-size: 14px;
      }
    }

    .favorite {
      background: none;
      border: none;
      cursor: pointer;

      &__wrapper {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 12px 0 14px 0;
        font-family: 'Lexend Deca', sans-serif;
      }

      i {
        font-size: 14px;
        margin-left: 4px;
        color: rgb(207, 47, 47);
        transition: color 0.3s ease;
      }

      &:focus-visible {
        border: 2px solid $primary;
        outline: 1px solid $dark;
      }
    }
  }

  .restaurant {
    &__list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      margin-bottom: 28px;

      &--empty {
        text-align: center;
      }

      .restaurant-item {
        background-color: $lighter;
        position: relative;
        list-style-type: none;
        border-radius: 12px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
        min-width: 0;

        &__picture {
          width: 100%;
          height: 24vh;
          object-fit: cover;
          border-radius: 12px 12px 0 0;
        }

        &__city {
          color: $grey;
          font-weight: 400;
          font-size: 4vw;
          text-align: center;
          padding: 0 20px;
        }

        &__rating {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;
          padding: 8px 10px;
          border-radius: 0 6px 6px 0;
          position: absolute;
          left: 0;
          top: 16px;
          font-weight: 600;
          font-size: 4vw;
          box-shadow: 2px0 3px 1px rgba(0, 0, 0, 0.25);

          &-icon {
            color: $dark;
            font-size: 5vw;
            margin-right: 2px;
          }
        }

        &__name {
          text-transform: capitalize;
          margin-top: 10px;
          padding: 0 20px;
          font-size: 6.3vw;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-align: center;

          a:hover,
          a:focus-visible {
            text-decoration: underline $primary;
            text-decoration-thickness: 3px;
            border: none;
            outline: none;
          }
        }

        &__description {
          margin-top: 10px;
          padding: 0 20px 20px;
          font-size: 3.6vw;
        }
      }
    }
  }

  .food-facts {
    background-color: $primary;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    background-size: cover;
    border-radius: 20px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &__shuffle-button {
      position: absolute;
      top: 0px;
      right: 0px;
      background: none;
      border: none;
      cursor: pointer;

      i {
        padding: 14px;
        font-size: 24px;
        color: $dark;
        transition: transform 1s ease-in-out;
      }
    }

    &__wrapper {
      position: absolute;
      width: 100%;

      h2 {
        margin: 0 0 6px;
      }

      .food-facts__fact {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 17px;
        padding: 0 10%;
      }
    }
  }

  .detail {
    h3 {
      text-align: center;
      font-size: 5vw;
    }

    &__image {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    }

    &__name {
      margin: 20px 0 0;
    }

    &__address {
      text-align: center;
      font-style: normal;
    }

    &__description {
      font-size: 4vw;
      margin-top: 20px;
    }

    &__foods {
      margin-top: 20px;
      font-size: 4vw;
      text-transform: capitalize;
    }

    &__drinks {
      margin-top: 12px;
      font-size: 4vw;
      text-transform: capitalize;
    }

    &__review {
      margin-top: 28px;
    }

    &__review-list {
      margin-top: 12px;
    }

    &__review-item {
      background-color: $lighter;
      list-style-type: none;
      border-radius: 12px;
      box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
      padding: 20px 16px;
      text-align: center;
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__review-name {
      font-size: 4.8vw;
      font-weight: 500;
    }

    &__review-text {
      margin: 4px 0;
      font-size: 4vw;
    }

    &__review-time {
      font-family: 'Karla', sans-serif;
      color: $grey;
      font-size: 3.8vw;
    }

    &__add-review {
      margin-top: 28px;
    }

    &__review-form {
      background-color: $lighter;
      border-radius: 12px;
      box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
      padding: 20px;
      margin-top: 12px;

      label,
      input,
      textarea {
        display: block;
        width: 100%;
        font-family: 'Karla', sans-serif;
      }

      label {
        font-size: 4.8vw;
        margin-bottom: 4px;
        font-weight: 600;
      }

      input,
      textarea {
        margin-bottom: 12px;
        padding: 12px;
        resize: none;
        font-size: 4vw;
      }
    }

    &__submit-button {
      width: 100%;
      margin-top: 6px;
      padding: 12px 16px;
      border: 0;
      border-radius: 6px;
      background-color: $primary;
      color: $dark;
      font-weight: 600;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      font-size: 4.8vw;
      font-family: 'Lexend Deca', sans-serif;
    }

    &__submit-button:hover,
    &__submit-button:focus {
      background-color: #e6bf33;
    }
  }
}

.footer {
  background-color: $dark;
  color: $primary;
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    text-align: center;
  }
}

@media screen and (min-width: 640px) {
  .header {
    &__nav {
      background-color: $light;
      box-shadow: none;
      position: static;
      visibility: visible;
      opacity: 1;
      justify-content: flex-end;
      width: auto;

      & > a {
        margin-left: 32px;
        font-size: 1.1em;
      }
    }

    &__menu-button {
      display: none;
    }
  }

  .hero-section {
    height: 360px;

    &__image {
      height: 360px;
    }
  }

  .main {
    h2 {
      margin-bottom: 28px;
      font-size: 28px;
    }

    .action-menu {
      .back {
        &__wrapper {
          font-size: 18px;
          padding: 10px 0 12px 0;
        }

        i {
          font-size: 18px;
        }
      }

      .favorite {
        &__wrapper {
          font-size: 18px;
          padding: 10px 0 12px 0;
        }

        i {
          font-size: 18px;
        }
      }
    }

    .restaurant {
      &__list {
        grid-template-columns: 1fr 1fr;

        .restaurant-item {
          &__city {
            font-size: 2vw;
            padding: 0 24px;
          }

          &__rating {
            font-size: 2vw;
            &-icon {
              font-size: 2.5vw;
            }
          }

          &__name {
            padding: 0 24px;
            margin-top: 16px;
            font-size: 3.15vw;
          }

          &__description {
            padding: 0 24px 24px;
            font-size: 1.8vw;
          }
        }
      }
    }

    .food-facts {
      height: 180px;

      &__shuffle-button {
        top: 8px;
        right: 8px;

        i {
          font-size: 32px;
        }
      }

      &__wrapper {
        .food-facts__fact {
          font-size: 22px;
        }
      }
    }

    .detail {
      h3 {
        font-size: 3.75vw;
      }

      &__review {
        margin-top: 24px;
      }

      &__review-list {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      &__review-item {
        width: 48%;
        margin: 0 1% 12px;
      }

      &__description {
        font-size: 3.2vw;
      }

      &__foods {
        font-size: 3.2vw;
      }

      &__drinks {
        font-size: 3.2vw;
        margin-top: 12px;
      }

      &__review-name {
        font-size: 2.4vw;
      }

      &__review-text {
        font-size: 2.2vw;
      }

      &__review-time {
        font-size: 1.9vw;
      }

      &__review-form {
        margin: 16px auto 0;
        max-width: 720px;

        label {
          font-size: 2.4vw;
        }

        input,
        textarea {
          font-size: 2.2vw;
        }
      }

      &__submit-button {
        font-size: 2.4vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__inner {
      max-width: 1600px;
    }
  }

  .hero-section {
    height: 400px;

    &__image {
      height: 400px;
    }

    &__caption {
      font-size: 9vmin;
    }
  }

  .main {
    max-width: 1600px;
    margin: 0 auto;

    h2 {
      font-size: 34px;
    }

    .action-menu {
      width: calc(50% - 20px);

      .back {
        &__wrapper {
          font-size: 20px;
          padding: 10px 0 10px 0;
        }

        i {
          font-size: 20px;
        }
      }

      .favorite {
        &__wrapper {
          font-size: 20px;
          padding: 10px 0 10px 0;
        }

        i {
          font-size: 20px;
        }
      }
    }

    .restaurant {
      &__list {
        grid-template-columns: 1fr 1fr 1fr;

        .restaurant-item {
          &__city {
            font-size: 16.08px;
            padding: 0 30px;
          }

          &__rating {
            font-size: 16.08px;
            &-icon {
              font-size: 20px;
            }
          }

          &__name {
            padding: 0 30px;
            margin-top: 20px;
            font-size: 25.2px;
          }

          &__description {
            padding: 0 30px 30px;
            font-size: 14.4px;
          }
        }
      }
    }

    .food-facts {
      height: 220px;

      &__shuffle-button {
        top: 10px;
        right: 10px;
        i {
          font-size: 40px;
        }
      }

      &__wrapper {
        .food-facts__fact {
          font-size: 30px;
        }
      }
    }

    .detail {
      &__wrapper {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        font-size: 30px;
      }

      &__name {
        margin-top: 0;
        text-align: left;
      }

      &__address {
        text-align: left;
        font-size: 1.34vw;
      }

      &__image {
        width: 100%;
      }

      &__foods,
      &__drinks,
      &__description {
        font-size: 1.25vw;
      }

      &__review {
        margin-top: 48px;
      }

      &__review-item {
        width: 32%;
        margin: 0 0.66% 18px;
      }

      &__review-name {
        font-size: 19.2px;
      }

      &__review-text {
        font-size: 17px;
      }

      &__review-time {
        font-size: 15px;
      }

      &__review-form {
        padding: 28px;

        label {
          font-size: 19.2px;
        }

        input,
        textarea {
          font-size: 17px;
        }
      }

      &__submit-button {
        font-size: 19.2px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .main {
    padding: 6vh 5% 6vh 5%;
    .detail {
      &__address {
        font-size: 20px;
      }

      &__foods,
      &__drinks,
      &__description {
        font-size: 20px;
      }
    }
  }
}
