@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #ffd438;
$dark: #292b2f;
$darker: #211f1f;
$grey: #777777;
$light: #fafafa;
$lighter: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  body {
    color: $dark;
    background-color: $light;
    width: 100%;
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;

    p {
      font-family: 'Karla', sans-serif;
    }
  }
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.header {
  color: $dark;
  background-color: $light;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 10px 5%;
    margin: 0 auto;
  }

  &__title {
    a {
      display: inline-block;
    }
  }

  &__logo {
    max-height: 34px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 3px;
  }

  &__nav {
    color: $dark;
    background-color: $primary;
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 44px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    font-weight: 600;

    a {
      padding: 12px;
      &:hover {
        text-decoration: underline $primary;
        text-decoration-thickness: 3px;
      }
    }
  }

  .open-nav {
    visibility: visible;
    opacity: 1;
  }

  &__menu-icon {
    background-color: $light;
    border: 0;
    cursor: pointer;

    #menu-button,
    #close-button {
      color: $dark;
      font-size: 36px;
      padding: 4px;
    }
  }

  &__close-icon {
    position: absolute;
    z-index: 101;
    margin-right: 18px;
    font-size: 32px;
    right: -100vw;
  }
}

.hero-section {
  margin-top: 60px;
  padding: 0 5%;
  min-width: 100%;
  min-height: 200px;
  background: linear-gradient(rgba(255, 212, 56, 0.5), rgba(255, 212, 56, 0.5)),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../public/images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    color: $light;
    font-weight: 500;
    font-size: 7vmin;
    line-height: 110%;

    u {
      text-decoration: underline $primary;
    }
  }
}

.main {
  padding: 4vh 5% 4vh 5%;

  h2 {
    text-align: center;
    margin-bottom: 28px;
    font-size: 22px;
  }

  .restaurant-section {
    .restaurant-list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      margin-bottom: 28px;

      .restaurant-item {
        background-color: $lighter;
        position: relative;
        list-style-type: none;
        border-radius: 12px;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
        min-width: 0;

        &__picture {
          width: 100%;
          height: 24vh;
          object-fit: cover;
          border-radius: 12px 12px 0 0;
        }

        &__city {
          display: inline-block;
          background-color: $primary;
          padding: 8px 14px;
          border-radius: 0 6px 6px 0;
          position: absolute;
          left: 0;
          top: 16px;
          font-weight: 600;
          font-size: 4vw;
          box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
        }

        &__rating {
          color: $grey;
          padding: 0 20px;
          font-weight: 400;
          font-size: 4vw;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 4px;

          .star-icon {
            color: $primary;
            font-size: 5vw;
            margin-right: 4px;
          }
        }

        &__name {
          text-transform: capitalize;
          margin-top: 10px;
          padding: 0 20px;
          font-size: 6.3vw;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-align: center;
        }

        &__description {
          margin-top: 10px;
          padding: 0 20px 20px;
          font-size: 3.6vw;
        }
      }
    }
  }

  .random-fact {
    background: linear-gradient(
        rgba(255, 212, 56, 0.5),
        rgba(255, 212, 56, 0.5)
      ),
      url('../public/images/pattern.jpg');
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    background-size: cover;
    border-radius: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .fact {
      width: 100%;
      h2 {
        margin: 0 0 6px;
      }
      p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 17px;
        padding: 0 10%;
      }
    }
  }
}

.footer {
  background-color: $dark;
  color: $primary;
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  .footer-inner {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .header {
    &__nav {
      background-color: $light;
      box-shadow: none;
      position: static;
      visibility: visible;
      opacity: 1;
      justify-content: flex-end;
      width: auto;

      & > a {
        margin-left: 32px;
        font-size: 1.1em;
      }
    }

    &__menu-icon {
      display: none;
    }
  }

  .hero-section {
    min-height: 300px;
    h2 {
      font-size: 6vmin;
    }
  }

  .main {
    h2 {
      font-size: 28px;
    }
    .restaurant-section {
      .restaurant-list {
        grid-template-columns: 1fr 1fr;

        .restaurant-item {
          &__city {
            font-size: 2vw;
          }

          &__rating {
            padding: 0 24px;
            font-size: 2vw;
            .star-icon {
              font-size: 2.5vw;
            }
          }

          &__name {
            padding: 0 24px;
            margin-top: 16px;
            font-size: 3.15vw;
          }

          &__description {
            padding: 0 24px 24px;
            font-size: 1.8vw;
          }
        }
      }
    }

    .random-fact {
      min-height: 180px;
      .fact {
        p {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (min-width: 920px) {
  .hero-section {
    min-height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__inner {
      max-width: 1600px;
    }
  }

  .hero-section {
    min-width: 1000px;
  }

  .main {
    max-width: 1600px;
    margin: 0 auto;

    h2 {
      font-size: 34px;
    }

    .restaurant-section {
      .restaurant-list {
        grid-template-columns: 1fr 1fr 1fr;

        .restaurant-item {
          &__city {
            font-size: 16.08px;
          }

          &__rating {
            padding: 0 30px;
            font-size: 16.08px;
            .star-icon {
              font-size: 20px;
            }
          }

          &__name {
            padding: 0 30px;
            margin-top: 20px;
            font-size: 25.2px;
          }

          &__description {
            padding: 0 30px 30px;
            font-size: 14.4px;
          }
        }
      }
    }

    .random-fact {
      min-height: 220px;
      .fact {
        p {
          font-size: 30px;
        }
      }
    }
  }
}
