.placeholder-restaurant {
  height: 560px;
  overflow: hidden;
  background: #000;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);

  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;

  &__inner {
    width: 100%;
    height: 20px;
    position: absolute;
    background: #fff;
    z-index: 2;

    &:after,
    &:before {
      width: inherit;
      height: inherit;
      content: '';
      position: absolute;
    }

    &:nth-child(1) {
      top: 220px;
      left: 0;
      width: 100%;
      height: 26px;
    }

    &:nth-child(2) {
      top: 246px;
      left: 0;
      width: 15%;
      height: 32px;
    }

    &:nth-child(3) {
      top: 246px;
      right: 0;
      width: 15%;
      height: 32px;
    }

    &:nth-child(4) {
      top: 278px;
      left: 0;
      width: 100%;
      height: 6px;
    }

    &:nth-child(5) {
      top: 284px;
      left: 0;
      width: 30px;
      height: 276px;
    }

    &:nth-child(6) {
      top: 284px;
      right: 0;
      width: 30px;
      height: 276px;
    }

    &:nth-child(7) {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
    }

    &:nth-child(8) {
      top: 304px;
      left: 0;
      width: 100%;
      height: 12px;
    }

    &:nth-child(9) {
      top: 284px;
      left: 0;
      width: 40%;
      height: 20px;
    }

    &:nth-child(10) {
      top: 284px;
      right: 0;
      width: 40%;
      height: 20px;
    }
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
